* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  line-height: 1.6;
  color: #333;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  padding-top: 30px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
}
.nav {
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}
.nav_link {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  margin: 0px 15px;
  text-decoration: none;
  transition: color 0.3s linear;
  position: relative;
}
.nav_link:hover {
  color: #f4bf87;
}
.nav_link::after {
  content: "";
  transition: opasity 0.3s linear;
  opacity: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f4bf87;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.nav_link:hover::after {
  display: block;
  opacity: 1;
  color: #f4bf87;
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

/*main_page*/

.Section_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../images/First_Section/photo_2022-01-24_14-29-04.jpg) center
    no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.title {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}
.second_title {
  font-size: 64px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 20px;
}
.main_title {
  font-size: 144px;
  font-weight: 700;
  line-height: 1.1;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
}
.main_title::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 4px;
  width: 170px;
  margin: 60px auto;
}
.button {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;

  padding: 15px 100px;
  text-decoration: none;
}
.main_slides {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.slides__inner {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.slides {
  padding: 20px 0;
  position: relative;
  width: 23%;
  opacity: 0.7;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border-top: 4px solid #fff;
}
.slides.active {
  opacity: 1;
}
.slides_add {
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .second_title {
    font-size: 48px;
  }
  .main_title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .second_title {
    font-size: 36px;
  }
  .main_title {
    font-size: 48px;
  }
  .slides_add,
  .slides_text {
    display: none;
  }
  .slides {
    width: 20%;
  }
}
/*what-we-do*/

.section-what {
  padding-top: 80px;
  display: flex;
  padding-bottom: 60px;
}
.what-we-do {
  margin-bottom: 48px;
  text-align: center;
  margin: 0 auto 48px;
}
.what-title {
  font-size: 30px;
  color: #2d3033;
  font-family: "Kaushan Script", cursive;
}
.what-second-title {
  margin-top: 20px;
  font-size: 36px;
  font-weight: 900;
  color: #2d3033;
  text-transform: uppercase;
}
.what-text {
  font-size: 18px;
  margin-bottom: 49px;
  margin-top: 20px;
  color: #000000;
}
.what-img {
  display: flex;
  justify-content: space-between;
}
.what-image {
  margin-top: 58px;
  background-color: #95e1d3;
  position: relative;
}
.what-image:hover .what-image-picture {
  transform: translate(-5%, -5%);
}
.what-image:hover .what-image-picture img {
  opacity: 0.1;
}
.what-image-picture img {
  display: block;
  transition: opacity 0.3s linear;
  max-width: 100%;
  height: auto;
}
.what-image:hover .what-img-text {
  opacity: 1;
}
.what-image:hover .what-img-text-icon {
  opacity: 1;
}
.what-image-picture {
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  transition: transform 0.3s linear;
}
.what-img-text {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translateY(-50%);
  transition: opasity 0.3s linear;
}
.what-img-text-icon {
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 35%;
  left: 0;
  z-index: 2;
  transform: translateY(-35%);
  transition: opasity 0.3s linear;
}

/*statistic_blocks*/

.section_stat {
  background-color: #95e1d3;
}
.Statistic_blocks {
  display: flex;
  width: auto;
  flex-wrap: wrap;
}
.blue_blocks {
  padding: 70px 25px;
  border-left: 1px solid #fff;
  text-align: center;
  font-family: Raleway;
  color: #fff;
  flex: 1;
}
.blue_blocks:last-child {
  border-right: 1px solid #fff;
}
.blue_number {
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
}
.blue_text {
  font-size: 24px;
  text-transform: uppercase;
}

/*We work with*/

.section-work {
  padding-top: 80px;
  display: flex;
  padding-bottom: 60px;
}
.we_work {
  width: 100%;
  margin-bottom: 48px;
  text-align: center;
  margin: 0 auto 48px;
}
.work-title {
  font-size: 30px;
  color: #2d3033;
  font-family: "Kaushan Script", cursive;
}
.work-second-title {
  margin-top: 20px;
  font-size: 36px;
  font-weight: 900;
  color: #2d3033;
  text-transform: uppercase;
}
.work-services {
  display: flex;
  margin-top: 115px;
  margin-bottom: 80px;
  flex-wrap: wrap;
}
.work-services-icons {
  position: relative;
  flex: 1;
  padding-left: 85px;
  padding-right: 37px;
}
.work-services-photo {
  max-width: 45px;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 1;
}
.work-services-title {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  color: #2d3033;
  text-transform: uppercase;
}
.work-services-text {
  font-size: 18px;
  font-weight: 400;
  color: #2d3033;
}

/*Section Devices*/

.section__devices {
  background: url(../images/Devices/Devices_hover.png) center no-repeat;
  background-size: cover;
  padding-top: 80px;
  display: flex;
  padding-bottom: 60px;
}
.devices__ {
  margin-bottom: 48px;
  text-align: center;
  margin: 0 auto 48px;
}
.devices__title {
  font-size: 30px;
  color: #2d3033;
  font-family: "Kaushan Script", cursive;
}
.devices__second__title {
  margin-top: 20px;
  font-size: 36px;
  font-weight: 900;
  color: #2d3033;
  text-transform: uppercase;
}
.devices__img {
  width: 100%;
  max-width: 600px;
  align-items: center;
  position: relative;
  margin: 0 auto;
  top: 100px;
  margin-top: 50px;
  margin-bottom: 70px;
}
.devices__item {
  display: block;
  max-width: 100%;
  height: auto;
}
.devices__item--iphone {
  position: absolute;
  bottom: -80px;
  right: -140px;
  z-index: 1;
}

/* Section with accordion*/

.section__what__accordion {
  padding-top: 80px;
  display: flex;
  padding-bottom: 60px;
}
.accordion {
  margin-bottom: 48px;
  text-align: center;
  margin: 0 auto 48px;
}
.accordion__title {
  font-size: 30px;
  color: #2d3033;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 30px;
}
.accordion__second__title {
  margin-top: 20px;
  margin-bottom: 54px;
  font-size: 36px;
  font-weight: 900;
  color: #2d3033;
  text-transform: uppercase;
}
.accordion-text {
  font-size: 18px;
  margin-bottom: 42px;
  margin-top: 20px;
  color: #000000;
}
.accordion_img {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.accordion_item {
  flex: 1;
  padding: 0 15px;
}
.accordion__condition__item {
  margin-left: 30px;
  margin-bottom: 22px;
  border: 1px solid #c6cbcd;
}
.accordion__condition__head {
  padding: 25px 20px 25px 21px;
  border-bottom: 1px solid #c6cbcd;
  position: relative;
  cursor: pointer;
}
.accordion__condition__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;
  transform: translateY(-50%);
}
.accordion__condition__title {
  font-weight: bold;
  margin-left: 60px;
  font-size: 24px;
  color: #2d3033;
  text-transform: uppercase;
}
.accordion__condition__content {
  padding: 12px 22px;
  display: none;
  font-size: 18px;
  color: #2d3033;
}
.accordion__condition__head::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #c6cbcd;
  border-right: 2px solid #c6cbcd;
  position: absolute;
  top: 45%;
  right: 33px;
  z-index: 1;
  transform: translateY(-50%) rotate(135deg);
}
.accordion__condition__item.active .accordion__condition__content {
  display: block;
}
.accordion__item__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Section_comment*/

.section__review {
  background: #f8f8f8;
  padding-top: 42px;
  padding-bottom: 85px;
}
.reviews {
  position: relative;
  padding: 0 110px;
}
.reviews__item {
  position: relative;
  padding-left: 205px;
}
.reviews__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.reviews__text {
  font-family: Raleway;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  margin-bottom: 21px;
  align-items: center;
  color: #a9afb1;
}
.reviews__author {
  display: flex;
  font-family: Kaushan Script;
  font-size: 30px;
  align-items: center;
  color: #000000;
}
.reviews__author::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  background-color: #f38281;
  height: 4px;
  margin-right: 36px;
}
.reviews__btn {
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.reviews__btn::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #c6cbcd;
  border-left: 2px solid #c6cbcd;
}
.reviews__btn--right {
  left: 0;
  transform: rotate(-45deg);
}
.reviews__btn--left {
  right: 0;
  transform: rotate(135deg);
}

/*Team Section*/
.section__team {
  padding-top: 80px;
  display: flex;
  padding-bottom: 60px;
}
.team {
  margin-bottom: 48px;
  text-align: center;
  margin: 0 auto 48px;
}
.team__title {
  font-size: 30px;
  color: #2d3033;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 30px;
}
.team__second__title {
  margin-top: 20px;
  margin-bottom: 54px;
  font-size: 36px;
  font-weight: 900;
  color: #2d3033;
  text-transform: uppercase;
}
.team-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 42px;
  margin-top: 20px;
  color: #000000;
}
.team__img {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.team-image {
  width: 380px;
}
.team__inner {
  margin-top: 58px;
  width: 355px;
  position: relative;
}
.team__info {
  margin-top: 35px;
  text-align: center;
}
.team__name {
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  color: #2d3033;
  margin-bottom: 20px;
}
.team__prof {
  font-family: Raleway;
  font-size: 18px;
  line-height: 21px;
  color: #2d3033;
}
.team-image:hover .team-image-picture {
  transform: translate(-5%, -5%);
}
.team-image:hover .team-image-picture img {
  opacity: 0.1;
}
.team-image-picture img {
  display: block;
  transition: opacity 0.3s linear;
}
.team-image:hover .team-img-icon {
  opacity: 1;
}
.team-image:hover {
  opacity: 1;
}
.team-image-picture {
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  transition: transform 0.3s linear;
}
.team-img-icon {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translateY(-50%);
  transition: opasity 0.3s linear;
}
.socials {
  align-items: center;
}
.socials__item {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .team__title {
    font-size: 24px;
  }
  .team__second__title {
    font-size: 24px;
  }
  .team-text {
    font-size: 14px;
  }
  .team__name {
    font-size: 18px;
  }
  .team__prof {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .team__title {
    font-size: 24px;
  }
  .team__second__title {
    font-size: 24px;
  }
  .team-text {
    font-size: 14px;
  }
  .team__name {
    font-size: 18px;
  }
  .team__prof {
    font-size: 14px;
  }
  .team__img {
    width: 100%;
    max-width: 480px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*Icos with links*/
.section_icons {
  background-color: #f8f8f8;
}
.icons_blocks {
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: center;
}
.icons_blocks__item {
  padding: 70px 25px;
  text-align: center;
  color: #fff;
  flex: 1;
}
@media (max-width: 1024px) {
  .icons_blocks {
    display: block;

    margin: 0 15px;
  }
  .icons_blocks__item {
    font-size: 24px;
  }
  .icons_img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .icons_blocks {
  }
  .icons_blocks__item {
  }
}
/* Section with examples*/
.Section__examples {
  padding-top: 80px;
  display: flex;
  padding-bottom: 60px;
}
.examples {
  margin-bottom: 48px;
  text-align: center;
  margin: 0 auto 48px;
}
.examples__title {
  font-size: 30px;
  color: #2d3033;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 30px;
}
.examples__second__title {
  margin-top: 20px;
  margin-bottom: 54px;
  font-size: 36px;
  font-weight: 900;
  color: #2d3033;
  text-transform: uppercase;
}
.examples__text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 42px;
  margin-top: 20px;
  color: #000000;
}
.section__examples__ex {
  padding-top: 80px;
  display: flex;
  padding-bottom: 60px;
}
.container__big {
  max-width: none;
  padding: 0 16px;
  max-width: none;
  margin: 0 auto;
}

.examples__photo {
  display: flex;
}
.examples__photo__column {
  flex: 1;
}
.examples__photo__item {
  position: relative;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
}
.examples__photo__item:hover .examples__photo__img {
  opacity: 0.1;
}
.examples__photo__item:hover .examples__photo__info {
  opacity: 1;
}
.examples__photo__img {
  transition: opacity 0.3s linear;
  display: block;
  max-width: 100%;
  height: auto;
}
.examples__photo__info {
  text-align: center;
  opacity: 0;
  padding: 0 15px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translate(0, -50%);
  width: 100%;
  transition: opacity 0.3s linear;
}
.examples__photo__title {
  margin-bottom: 5px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.examples__photo__text {
  font-size: 18px;
  font-weight: 400;
}
/*Section_comment*/

.section__comment {
  background: #fff;
  padding-top: 42px;
  padding-bottom: 85px;
}
.comments {
  position: relative;
  padding: 0 110px;
}
.comments__item {
  position: relative;
  padding-left: 205px;
  flex-wrap: wrap;
}
.comments__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.comments__text {
  font-family: Raleway;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  margin-bottom: 21px;
  align-items: center;
  color: #a9afb1;
}
.comments__author {
  display: flex;
  font-family: Kaushan Script;
  font-size: 30px;
  align-items: center;
  color: #000000;
}
.comments__author::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  background-color: #f38281;
  height: 4px;
  margin-right: 36px;
}
.comments__btn {
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.comments__btn::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #c6cbcd;
  border-left: 2px solid #c6cbcd;
}
.comments__btn--right {
  left: 0;
  transform: rotate(-45deg);
}
.comments__btn--left {
  right: 0;
  transform: rotate(135deg);
}
@media (max-width: 1024px) {
  .comments__text {
    font-size: 18px;
  }
  .comments__author {
    font-size: 24px;
  }
  .comments__author::before {
    width: 47px;
  }
}
@media (max-width: 768px) {
  .comments__text {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .comments__author {
    font-size: 18px;
  }
  .comments__author::before {
    width: 47px;
  }
  .comments__img {
    position: static;
    align-items: center;
  }
  .comments__item {
    padding-left: 15px;
  }
}

/*Clients*/

.section__clients {
  background: url(../images/Clients/background_clients.jpg);
  padding-top: 80px;
  display: flex;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.clients {
  margin-bottom: 48px;
  text-align: center;
  margin: 0 auto 48px;
}
.clients__title {
  font-size: 30px;
  color: #2d3033;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 30px;
}
.clients__second__title {
  margin-top: 20px;
  margin-bottom: 54px;
  font-size: 36px;
  font-weight: 900;
  color: #2d3033;
  text-transform: uppercase;
}
.clients__item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}
.clients__review {
  position: relative;
  margin-bottom: 60px;
  width: 50%;
  padding: 0 45px 0 175px;
}
.clients__img {
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 1;
}

.clients__name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #2d3033;
  margin-bottom: 10px;
}
.clients__prof {
  font-size: 18px;
  text-transform: uppercase;
  color: #2d3033;
}
.clients__text {
  font-size: 18px;
  color: #2d3033;
}
.clients__text::before {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  color: #f38281;
  margin: 15px 0;
}
/*Section prelast*/
.section__latest {
  padding-top: 80px;
  display: flex;
  padding-bottom: 60px;
}
.latest__blog {
  margin-bottom: 48px;
  text-align: center;
  margin: 0 auto 48px;
}
.latest__blog__title {
  font-size: 30px;
  color: #2d3033;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 30px;
}
.latest__blog__second__title {
  margin-top: 20px;
  margin-bottom: 54px;
  font-size: 36px;
  font-weight: 900;
  color: #2d3033;
  text-transform: uppercase;
}
.blog {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}
.blog__item {
  width: 31%;
}
.blog__header {
  position: relative;
  margin-bottom: 15px;
}
.blog__photo {
  display: block;
  max-width: 100%;
  height: auto;
}
.blog__date {
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  bottom: 10px;
  left: -10px;
  z-index: 1;
  background-color: #95e1d3;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.date__day {
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
}
.blog__content {
  margin-bottom: 15px;
}
.blog__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  color: #2d3033;
}
.blog__title a {
  color: inherit;
  text-decoration: none;
}
.blog__title:hover {
  text-decoration: underline;
}
.blog__text {
  font-size: 18px;
  color: #2d3033;
}
.blog__footer {
  padding-top: 15px;
  font-size: 13px;
  color: #2d3033;
  font-weight: 400;
}
/*.blog__stat {
}*/
.blog__stat__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 64px;
}

/*Section blog*/

.section_blog {
  background: url(../images/Section_stories/Background_blog.jpg);
}
.latest__title {
  text-align: center;
  padding-top: 44px;
  padding-bottom: 76px;
}
.latest__subtitle {
  color: #f38281;
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
}
.latest__subtitle a {
  color: inherit;
  text-decoration: none;
}
.latest__subtitle:hover {
  text-decoration: underline;
}
.latest__subtitle::after {
  content: "";
  display: block;
  width: 170px;
  height: 4px;
  margin: 30px auto 0;
  background-color: #f38281;
}

/*Footer*/

.footer {
  background-color: #f8f8f8;
  padding-top: 65px;
}
.footer__inner {
  padding-bottom: 42px;
  display: flex;
  justify-content: space-between;
}
.footer__fol--first {
  width: 40%;
}
.footer__fol--second {
  width: 29%;
}
.footer__fol--third {
  width: 22%;
}
.footer__logo {
  color: #c6cbcd;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 30px;
}
.footer__text {
  font-size: 15px;
  color: #c6cbcd;
  margin-bottom: 30px;
}
.footer__social {
  margin-bottom: 25px;
}
.footer__social__header {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-style: italic;
  border-bottom: 1px solid #c6cbcd;
  padding-bottom: 25px;
}
.footer__social__header b {
  font-size: 18px;
  font-style: normal;
}
.footer__social__content {
  padding-top: 25px;
  margin-bottom: 35px;
  color: #c6cbcd;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
}
.footer__social__content a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.subscribe {
  width: 100%;
  max-width: 370px;
  display: flex;
}
.subscribe__input {
  width: 60%;
  height: 40px;
  line-height: 1.1;
  padding: 12px;
  background: #fff;
  border: 1px solid #c6cbcd;
  font-size: 18px;
  text-align: center;
  color: #2d3033;
}
.subscribe__input::placeholder {
  color: #c6cbcd;
}
.subscribe__btn {
  width: 40%;
  height: 40px;
  padding: 12px 20px;
  background: #95e1d3;
  line-height: 1.1;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
}
.subscribe__btn:hover {
  background-color: #7cc2b5;
}
.footer__title {
  text-transform: uppercase;
  color: #2d3033;
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0;
}
.blogs__item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.blogs__img {
  width: 120px;
  height: 80px;
}
.blogs__item__content {
  padding-left: 20px;
}
.blogs__title {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #2d3033;
  text-decoration: none;
}
.blogs__title:hover {
  text-decoration: underline;
}
.blogs__date {
  font-size: 13px;
  color: #2d3033;
  font-weight: 400;
}
.instagram {
  display: flex;
  flex-wrap: wrap;
}
.instagram__item {
  width: 32.33333%;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}
.instagram__item img {
  display: block;
}
.copyright {
  padding: 20px 0;
  text-align: center;
  color: #2d3033;
  font-size: 14px;
  font-weight: 700;
  border-top: 1px solid #c6cbcd;
}
